{:paths ["bb"]
 :deps  {com.taoensso/encore {:mvn/version "3.117.0"}} ; For bb-tests
 :tasks
 {graal-tests
  {:doc "Run Graal native-image tests"
   :requires ([graal-tests])
   :task
   (do
     (graal-tests/uberjar)
     (graal-tests/native-image)
     (graal-tests/run-tests))}

  bb-tests
  {:doc "Run Babashka tests"
   :requires ([bb-tests])
   :task (bb-tests/run-tests)}}}
